<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Математика</title>


    <link rel="stylesheet" href="../static/style.css">

    <link rel="icon" href="../static/favicon.ico">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#menuButton").click(function () {
                        $("#navMobile").toggle(300);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#navMobile").hide()
        });
    </script>

    <style>
        #math {
            color: darkred;
        }
    </style>

</head>
<body>


<header id="navPC">
    <a href="index.html">
        <div class="headElem" id="main">
            Головна
        </div>
    </a>
    <a href="physics.html">
        <div class="headElem" id="phys">
            Фізика
        </div>
    </a>
    <a href="math.html">
        <div class="headElem" id="math">
            Математика
        </div>
    </a>
    <a href="pyjs.html">
        <div class="headElem" id="pyjs">
            Програмування
        </div>
    </a>
</header>



<img src="../static/menuButton.svg" alt="menu" id="menuButton">
<header id="navMobile">

    <a href="index.html">
        <div class="headElemMobile" id="main">
            Головна
        </div>
    </a>
    <a href="physics.html">
        <div class="headElemMobile" id="phys">
            Фізика
        </div>
    </a>
    <a href="math.html">
        <div class="headElemMobile" id="math">
            Математика
        </div>
    </a>
    <a href="pyjs.html">
        <div class="headElemMobile" id="pyjs">
            Програмування
        </div>
    </a>
</header>


<hr>


<div class="mainContent">
    <h1>
        Математика
    </h1>
    <p>
        Математика - одна з основних наук, яку нині викорсистовують майже всюди. Вона математика описує явища фізики,
        саме завдяки математиці працюють всі цифрові пристрої навколо нас. Також отримані навичики допомагають
        вирішувати проблеми, які навіть не мають відношення до математики.
    </p>
</div>


</body>
</html>